@import "../../mixins.scss";

.app-info {
   border-radius: toRem(10);
   background: rgba(255, 255, 255, 0.05);
   padding: toRem(24) toRem(30);
   &:not(:last-child) {
      margin-bottom: toRem(30);
   }
   // .app-info__title
   &__title {
      font-size: toRem(33);
      &:not(:last-child) {
         margin-bottom: toRem(15);
      }
   }

   // .app-info__count
   &__count {
      font-size: toRem(28);
      &:not(:last-child) {
         margin-bottom: toRem(15);
      }
   }

   // .app-info__count-praise
   &__count-praise {
      font-size: toRem(28);
      &:not(:last-child) {
         margin-bottom: toRem(15);
      }
   }
}